<div class="fake-position-holder" [class.size-lg]="!downMdSize && !onlyMdSize"></div>
<mat-toolbar color="primary" id="header-toolbar">
  <mat-grid-list cols="24" [rowHeight]="downMdSize ? '45px' : '70px'">
    <mat-grid-tile *ngIf="!downMdSize" colspan="3"></mat-grid-tile>

    <!-- Title block -->
    <mat-grid-tile [colspan]="onlyMdSize ? 5 : downMdSize ? 15 : 4">

      <!-- MENU BUTTON TOGGLE -->
      <button *ngIf="downMdSize" mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon class="menu-toggler cursor-pointer" aria-hidden="false" aria-label="Menu toggler">
          dehaze
        </mat-icon>
      </button>
      <!-- MENU -->
      <mat-menu [hidden]="!downMdSize" #appMenu="matMenu">
        <ng-container *ngFor="let item of menuItems">
          <button *ngIf="!item.hiddeIfLogged || !logged"  [routerLink]="item.link" mat-menu-item>{{ item.text }}</button>
        </ng-container>
      </mat-menu>

      <!-- TITLE -->
      <div routerLink="/home" [ngClass]="downMdSize ? 'title-mobile' : 'mat-display-1'" class="r4u-mb-0 cursor-pointer outline-none">Room4You</div>
    </mat-grid-tile>

    <!-- Search form block -->
    <mat-grid-tile *ngIf="!downMdSize && !onlyMdSize" colspan="6">
      <div id="search-input-wrapper" class="r4u-w-100">
        <input type="text" placeholder="Pesquise aqui">
        <mat-icon aria-hidden="false" aria-label="Search icon">search</mat-icon>
      </div>
    </mat-grid-tile>

    <mat-grid-tile *ngIf="!downMdSize && !onlyMdSize" colspan="2"></mat-grid-tile>

    <!-- Menu block -->
    <mat-grid-tile *ngIf="!downMdSize" [colspan]="onlyMdSize ? 14 : 6">
      <div id="desk-menu-wrapper" [class.r4u-d-flex]="logged">
        <ng-container *ngFor="let item of menuItems">
          <a mat-button *ngIf="!item.hiddeIfLogged || !logged" routerLinkActive="active-link" [routerLink]="item.link">{{ item.text }}</a>
        </ng-container>
        <div #userInfo (click)="toggleDropDown()" class="user-info-wrapper cursor-pointer" *ngIf="logged">
          <div class="user-photo" [ngStyle]="{'background-image': 'url(' + userImage + ')'}"></div>
          <div class="user-name-wrapper">{{ userName }}</div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <div [class.r4u-d-none]="!logged || !downMdSize" #userInfoMobile (click)="toggleDropDown()" class="user-info-wrapper cursor-pointer user-info-mobile">
    <div class="user-photo" [ngStyle]="{'background-image': 'url(' + userImage + ')'}"></div>
  </div>
</mat-toolbar>

<div #userDropDown
  [ngStyle]="{'left.px': dropDownLeftOffset, 'top.px': dropDownTopOffset}"
  class="user-option-dropdown"
  [hidden]="!showDropdown || !logged"
  (mouseup)="this.showDropdown = false"
>
  <ul>
    <li class="cursor-pointer"><a routerLink="/offers/my-posts-list">Meus posts</a></li>
    <li class="cursor-pointer"><a routerLink="/offers/favorite-list">Meus favoritos</a></li>
    <li class="cursor-pointer last"><a (click)="logout()">Logout</a></li>
  </ul>
</div>
