@import 'src/sass/custom-breakpoints';
@import 'src/sass/custom-colors';

input[type=text] {
  width: 100%;
  padding: 8px 5px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 4px;
  background-color: transparent;
  color: white;
  background-color: transparent;
}

::-webkit-input-placeholder { /* Edge */
  color: white;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::placeholder {
  color: white;
}

#search-input-wrapper {
  position: relative;

  mat-icon {
    position: absolute;
    right: 4px;
    top: 12px;
  }
}

mat-toolbar-multiple-rows {
  min-height: auto !important;
}

mat-toolbar {
  display: block;
  position: fixed;
  top: 0;
  z-index: 999;
}

.fake-position-holder {
  height: 60px;

  &size-lg {
    height: 70px;
  }
}

.menu-toggler {
  margin-right: 20px;
  margin-top: 10px;
}

.title-mobile {
  margin-top: 10px;
}

.active-link {
  border-bottom: 4px solid $r4u-green;
}

.user-info-wrapper {
  display: flex;
  align-items: center;
  margin-left: 20px;

  .user-photo {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50px;
    margin-right: 6px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .user-name-wrapper {
    font-weight: normal;
    font-size: 15px;
  }
}

.r4u-d-flex {
  display: flex;
}

.user-option-dropdown {
  position: absolute;
  right: 225px;
  background-color: #f0f0f0;

  ul {
    list-style: none;
    padding: 0 6px;
    margin: 10px 0;
    margin-bottom: 4px;

    li {
      padding: 6px 20px;
      &:not(.last) {
        border-bottom: 1px solid #ccc;
      }

      a {
        text-decoration: none;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        color: #606060;
      }
    }
  }
}
