$room4you-red: (
  50: #D9415B,
  100: #D9415B,
  200: #D9415B,
  300: #D9415B,
  400: #D9415B,
  500: #D9415B,
  600: #D9415B,
  700: #D9415B,
  800: #D9415B,
  900: #D9415B,
  A100: #D9415B,
  A200: #D9415B,
  A400: #D9415B,
  A700: #D9415B,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

$room4you-green: (
  50: #477D82,
  100: #477D82,
  200: #477D82,
  300: #477D82,
  400: #477D82,
  500: #477D82,
  600: #477D82,
  700: #477D82,
  800: #477D82,
  900: #477D82,
  A100: #477D82,
  A200: #477D82,
  A400: #477D82,
  A700: #477D82,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);
