
@import './custom-colors';

$room4you-red: (
  50: $r4u-red,
  100: $r4u-red,
  200: $r4u-red,
  300: $r4u-red,
  400: $r4u-red,
  500: $r4u-red,
  600: $r4u-red,
  700: $r4u-red,
  800: $r4u-red,
  900: $r4u-red,
  A100: $r4u-red,
  A200: $r4u-red,
  A400: $r4u-red,
  A700: $r4u-red,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

$room4you-green: (
  50: $r4u-green,
  100: $r4u-green,
  200: $r4u-green,
  300: $r4u-green,
  400: $r4u-green,
  500: $r4u-green,
  600: $r4u-green,
  700: $r4u-green,
  800: $r4u-green,
  900: $r4u-green,
  A100: $r4u-green,
  A200: $r4u-green,
  A400: $r4u-green,
  A700: $r4u-green,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);
