<div id="terms">

  <h1>Termos e políticas </h1>
  <p>
    Esses termos, políticas e padrões se aplicam ao seu acesso e uso da Plataforma do Room4You, além dos nossos Termos de Serviço e Termos de Serviço de Pagamentos.
  </p>

  <h2>1. Considerações iniciais</h2>
  <p>
    O Usuário compreende que o Room4You é empresa especializada em:
    Realizar a intermediação de negócios concernentes à locação de quartos de casa de família, e sua disponibilização na Plataforma, mediante o pagamento de remuneração, conforme descrito neste documento.
    Os presentes Termos estão sujeitos a contínuo aprimoramento, podendo ser modificados a qualquer tempo, desde que não haja vedação legal nesse sentido. Assim, é recomendável que o Usuário acesse estes Termos periodicamente e certifique-se de que verificou sua versão mais atualizada, com base na data indicada ao término do documento. Se o Usuário eventualmente discordar de quaisquer alterações, deverá se abster de utilizar a Plataforma.
    Alguns Serviços e conteúdos disponíveis na Plataforma são ou poderão ser objeto de Termos de Uso, Contratos, Licenciamentos, Cessões e Regulamentos Específicos. No caso de conflito entre tais instrumentos e este documento, as condições específicas deverão prevalecer.
    Todos os elementos, informações, ferramentas e questões encontradas na Plataforma estão sujeitos aos direitos de propriedade intelectual, todas as leis vigentes no Brasil, bem como quaisquer tratados e convenções internacionais dos quais o Brasil seja signatário.
    Qualquer dúvida, reclamação, sugestão ou comentário que o Usuário possua com relação a estes Termos poderão ser enviados pelo e-mail: atendimento@room4you.
  </p>
  <h2>2. Aceite aos Termos</h2>
  <p>
    O acesso à Plataforma, bem como sua efetiva utilização, implica no aceite, pelo Usuário, desses Termos de Uso e da Política de Privacidade, independentemente da realização de seu cadastro na Plataforma. Esse aceite será ratificado por meio da seleção do checkbox correspondente à opção “Aceito os Termos”, oportunidade na qual o Usuário manifesta seu consentimento livre, expresso e informado com relação ao conteúdo deste documento. Caso o Usuário discorde de alguma das previsões destes Termos, não deverá utilizar a Plataforma.
    O Usuário está ciente de que existem outros documentos que complementam estes Termos de Uso, e que serão disponibilizados/enviados para ele conforme as fases da locação. Alguns exemplos destes documentos são: Contrato de Locação, Contrato de Intermediação e Administração Imobiliária e outros.
  </p>
  <h2>3. Regras de Utilização da Plataforma</h2>
  <p>
    Por meio do aceite aos presentes Termos, o Usuário se declara ciente que:
    I. Apenas pessoas civilmente capazes, à luz da legislação brasileira, poderão utilizar o
    aplicativo;
    II. Cada conta fica associada a um único ID de usuário.
    III. Não é permitida a criação de nova Conta de Usuário por pessoas que tenham sido inabilitadas pelo Room4You, temporária ou definitivamente, independente do motivo.
    IV. Não poderá inserir na Plataforma qualquer conteúdo considerado ilícito ou capaz de
    violar direitos de terceiros.
    V. Não deverá inserir na Plataforma, por quaisquer meios, conteúdo ou materiais capazes de incorporar vírus ou outros elementos que possam impedir o normal funcionamento da Plataforma, de equipamentos informáticos do Room4You ou de terceiros, bem como capazes de danificar documentos eletrônicos e arquivos armazenados em tais equipamentos.
    VI. Não deverá compartilhar suas credenciais de acesso com terceiros, sendo o único
    responsável por quaisquer operações, inclusive financeiras, realizadas por meio de sua conta;
    Por meio do aceite aos presentes Termos, o Usuário reconhece que, em qualquer hipótese, é o único responsável pela utilização da Plataforma, isentando o Room4You de qualquer responsabilidade por danos e prejuízos decorrentes do uso indevido da Plataforma.
  </p>
  <h2>4. Problemas Decorrentes do Uso do Sistema</h2>
  <p>
    O Room4You não se responsabiliza por qualquer dano, prejuízo ou perda sofridos pelo Usuário em razão de falhas em sua conexão com a internet, com o seu provedor, no sistema, com o sistema de SMS, com a linha telefônica ou no servidor utilizados pelo Usuário, decorrentes de condutas de terceiros, caso fortuito ou força maior.
    O Room4You também não será responsável por qualquer vírus, trojan, malware, spyware ou qualquer software que possa danificar, alterar as configurações ou infiltrar o equipamento do Usuário em decorrência do acesso, da utilização ou da navegação na internet, ou como consequência da transferência de dados, informações, arquivos, imagens, textos ou áudio.
  </p>
  <h2>5. Legislação Aplicável e Foro de eleição </h2>
  <p>
    Todos os itens destes Termos são regidos pelas leis vigentes na República Federativa do Brasil. Para todos os assuntos referentes à interpretação, ao cumprimento ou a qualquer outro questionamento relacionado a estes Termos, as partes concordam em se submeter ao Foro da Comarca de São Paulo.
  </p>

  <div class="buttons" (click)="aceitar()">
    <button mat-raised-button
      class="btn btn-primary mt-4"
      type="submit"
      color="primary"
      value="aceitar"
      >Aceitar
    </button>
  </div>
</div>
