 <div id="about">

  <div class="content">

    <div class="about">
      <h2>Sobre nós</h2>

      <p>
        Somos alunos da disciplina de Engenharia de software do ICMC-USP de São Carlos,
        ministrada pela professora Simone do Rocio Senger de Souza em parceria com a Monitora
        e auxílio de um do seus colaboradores, Elekmilton Mangino.
      </p>
    </div>

    <br><br>

    <div class="devs">
      <h2>Desenvolvedores</h2>
      <div class="top">
        <div class="box"><img src="../../assets/fotos/Victor.jpg" alt="Victor Momenté"><p>Victor Momenté</p> </div>
        <div class="box"><img src="../../assets/fotos/Ricardo.jpg" alt="Ricardo Atakiama"><p>Ricardo Atakiama</p></div>
        <div class="box"><img src="../../assets/fotos/Marcos.jpg" alt="Marcos Vinicius Volpato"><p>Marcos V. Volpato</p></div>
      </div>

      <div class="bot">
        <div class="box"><img src="../../assets/fotos/Vinicius.jpg" alt="Vinicius Cortizo"><p>Vinicius Cortizo</p></div>
        <div class="box"><img src="../../assets/fotos/Luiz.jpg" alt="Luiz Guilherme Adorno"><p>Luiz G. Adorno</p></div>
        <div class="box"><img src="../../assets/fotos/Murilo.jpg" alt="Murilo Kazumi"><p>Murilo Kazumi</p></div>
        <div class="box"><img src="../../assets/fotos/Renan.jpg" alt="Renan Góes"><p>Renan Góes</p></div>
      </div>
    </div>
    <br><br>

    <div class="project">
      <h2>Sobre o projeto</h2>

      <p>
        O <span>Room4You</span>  é uma aplicação web que visa facilitar o oferecimento e procura de quartos
        para usuários que buscam um lugar para se hospedar. Nele, o anunciante pode inserir
        informações do seu quarto, o qual deseja alugar, como preço, endereço e localização.
          Por outro lado, o usuário que deseja procurar um quarto, tem acesso a todas os
          anúncios de diferentes usuários, tendo assim, uma infinidade de opções para alocação,
          possibilitando, portanto, uma oferta e procura de quartos para moradia de forma eficiente
          e simplificada.
      </p>
    </div>


    <div class="partnership">
      <img src="../../assets/icons/icmc.png" alt="icmc">
      <img src="../../assets/icons/monitora.png" alt="icmc">
    </div>
  </div>
</div>
