<div id="login">
  <form class="content" [formGroup]="formUserLogin" >
    <h1>Entre na sua conta</h1>

    <mat-form-field appearance="outline" style="margin-bottom: -1.25em">
      <mat-label for="email">Email</mat-label>
      <input matInput
      class="form-control"
      type="email"
      name="email"
      id="email"
      formControlName="email"
      autocomplete="on"
      required email>
    </mat-form-field>

    <div *ngIf="formUserLogin.get('email').invalid && (formUserLogin.get('email').dirty || formUserLogin.get('email').touched)">
      <div *ngIf="formUserLogin.get('email').errors.required">
        É necessário informar um e-mail.
      </div>
      <div *ngIf="!formUserLogin.get('email').errors.required">
        É necessário informar um e-mail válido.
      </div>
    </div>

    <div *ngIf="!(formUserLogin.get('email').invalid && (formUserLogin.get('email').dirty || formUserLogin.get('email').touched))">
      <br>
    </div>

    <mat-form-field appearance="outline" style="margin-bottom: -1.25em">
      <mat-label >Senha</mat-label>
      <input matInput
      class="form-control"
      type="password"
      name="password"
      id="password"
      formControlName="password"
      required minlength="5"
      autocomplete="on">
    </mat-form-field>

    <div *ngIf="formUserLogin.get('password').invalid && (formUserLogin.get('password').dirty || formUserLogin.get('password').touched);">
      <div *ngIf="formUserLogin.get('password').errors.required">
        É necessário informar uma senha.
      </div>
      <div *ngIf="formUserLogin.get('password').errors.minlength">
        Senha deve ter no mínimo 5 caracteres.
      </div>
    </div>

    <div *ngIf="!(formUserLogin.get('password').invalid && (formUserLogin.get('password').dirty || formUserLogin.get('password').touched))">
      <br>
    </div>

    <button mat-raised-button
      class="btn btn-primary mt-4"
      type="submit"
      color="primary"
      value="Salvar"
      (click)="onSubmitLogin()"
      [disabled]="!formUserLogin.valid"
      >Login
    </button>

    <div class="error" *ngIf="this.erro && this.erro.status === 422"><i>*Usuário ou senha inválido!</i></div>
  </form>
</div>
