<div id="login">
  <form class="content" [formGroup]="formUserLogin" >
    <h1>Entre na sua conta</h1>

    <mat-form-field appearance="outline">
      <mat-label for="email">Email</mat-label>
      <input matInput type="email" class="form-control" name="email" id="email" formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label >Senha</mat-label>
      <input matInput type="password" class="form-control" name="password" id="password" formControlName="password">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" class="btn btn-primary mt-4" value="Salvar" (click)="onSubmitLogin()">Login</button>

    <mat-divider></mat-divider>
    <h3>ou</h3>
    <mat-divider></mat-divider>

    <a href="#" class="fb btn">
      <img src="https://image.flaticon.com/icons/png/512/1384/1384053.png" alt="facebook-icon" width="20px">
      <i class="fa fa-facebook fa-fw"></i> Login com Facebook
    </a>

    <a href="#" class="google btn">
        <img src="https://image.flaticon.com/icons/svg/281/281764.svg" alt="google-icon" width="20px">
        <i class="fa fa-google fa-fw"></i> Login com Google+
    </a>
  </form>
</div>
