<div id="main-container" [class.sizeLT854]="sizeLT854">
  <div class="left-column">
    <app-lightslider [mobileView]="sizeLT650"></app-lightslider>

    <p class="description">
      Quarto bem localizado, próximo ao metrô, Mussum Ipsum, cacilds vidis
      litro abertis. Atirei o pau no gatis, per gatis num morreus. Casamentiss
      faiz malandris se pirulitá. Mé faiz elementum girarzis, nisi eros vermeio. Admodum
      accumsan disputationi eu sit. Vide electram sadipscing et per. Mais vale um
      bebadis conhecidiss, que um alcoolatra anonimis. Não sou faixa preta cumpadi,
      sou preto inteiris, inteiris. Em pé sem cair, deitado sem dormir
    </p>

    <hr>
    <h3 class="card-inner-title">Comodidades</h3>

    <div class="room-attribute">
      <mat-icon
        [class.available]="true"
        fontSet="material-icons-outlined"
        aria-hidden="false"
        aria-label="Location pin"
      >
        check_circle
      </mat-icon>
      <p>Quarto bem localizado, próximo ao metrô</p>
    </div>
    <div class="room-attribute">
      <mat-icon
        [class.available]="true"
        fontSet="material-icons-outlined"
        aria-hidden="false"
        aria-label="Location pin"
      >
        check_circle
      </mat-icon>
      <p>Wi-fi</p>
    </div>
    <div class="room-attribute">
      <mat-icon
        [class.available]="true"
        fontSet="material-icons-outlined"
        aria-hidden="false"
        aria-label="Location pin"
      >
        check_circle
      </mat-icon>
      <p>Vaga disponível</p>
    </div>

    <div class="map-wrapper">
      <app-map
        address="Rua São Jorge, 375, Tatuapé - SP"
        textInfo="Quarto São Paulo Tatuapé"
      ></app-map>
    </div>
  </div>

  <div class="right-column">
    <app-owner-card></app-owner-card>
  </div>
</div>
