<div class="owner-card">
  <h2>{{authorData.name}}</h2>
  <div class="owner-image" [ngStyle]="{'background-image': 'url(' + authorData.img + ')'}"></div>
  <h4>O que gosta de fazer</h4>
  <p *ngIf="authorData.description" class="owner-card-description">{{ authorData.description }}</p>
  <div class="owner-card-footer">
    <div class="owner-card-footer-left">
      <p><span class="owner-footer-price">R$ {{ price }}</span> por mês</p>
    </div>
  </div>
  <p class="contact-p email-p" *ngIf="authorData.email_contato">Email de contato: {{ authorData.email_contato }}</p>
  <div class="email-btn-wrapper">
    <button class="email-btn" (click)="openEmail(authorData.email_contato)" mat-flat-button color="primary"><mat-icon>email</mat-icon>Email</button>
  </div>
  <p class="contact-p tel-p" *ngIf="authorData.tel">Telefone de contato: {{ authorData.tel }}</p>
</div>
