<div id="home">

  <div class="content">

    <div class="left-side">
      <h1>Procurando conforto?</h1>
      <img src="https://image.shutterstock.com/image-photo/total-relaxation-handsome-young-man-600w-439431067.jpg" alt="entrypic">
      <p>
          Lorem ipsum <strong>dolor sit </strong>amet consectetur adipisicing elit!
      </p>
    </div>

    <div class="options">
      <div class="bloco">
        <img src="https://image.flaticon.com/icons/svg/2919/2919722.svg" alt="lupa">
        <h3>Pesquise um quarto</h3>
      </div>


      <div class="bloco">
        <img src="https://image.flaticon.com/icons/svg/2919/2919756.svg" alt="prancheta">
        <h3>Lista de quartos</h3>
      </div>

      <div class="bloco">
          <img src="https://image.flaticon.com/icons/svg/2919/2919546.svg" alt="casa">
          <h3>Anuncie um quarto</h3>
      </div>
    </div>
  </div>
</div>
