<div id="home">


  <div class="content">
    <div class="catcher">
      <h1>Procurando conforto?</h1>
      <img src="https://image.shutterstock.com/image-photo/total-relaxation-handsome-young-man-600w-439431067.jpg" alt="entrypic">
    </div>

    <div class="options">
      <div class="inner-options">
        <div class="block">
          <img src="https://image.flaticon.com/icons/svg/2919/2919722.svg" alt="lupa">
          <h3>Pesquise um quarto</h3>
        </div>

        <div class="block" routerLink="/offers">
          <img src="https://image.flaticon.com/icons/svg/2919/2919756.svg" alt="prancheta">
          <h3>Lista de quartos</h3>
        </div>

        <div class="block" routerLink="/advertise">
            <img src="https://image.flaticon.com/icons/svg/2919/2919546.svg" alt="casa">
            <h3>Anuncie um quarto</h3>
        </div>
      </div>
    </div>

    <div class="motivation">
      <div class="inner-motivation">
        <div class="section">
          <h2>Seja um hóspede ou anfitrião</h2>
          <br>
          <p>
            Estudar fora com conforto e tranquilidade ficou muito fácil.
            <br>
            Procure por acomodações com as suas necessidades.
          </p>
        </div>
        <div class="section">
          <h2>Viva novas experiências</h2>
          <br>
          <p>
            Morar com uma 'host family' em uma cidade, estado ou país diferente é uma ótima forma de absorver a cultura local.
          </p>
        </div>
        <div class="section">
          <h2>Dê e receba avaliações </h2>
          <br>
          <p>
            Acomodações com avaliações constantes de nossos usuários. Seu feedback é muito importante para nós!
          </p>
        </div>
      </div>
    </div>

    <div class="signature">
      <img src="https://uploaddeimagens.com.br/images/002/722/698/original/R4Y.png?1592882667" alt="R4Y-logo" width="300px" border-color="">
      <p>
        <em>Melhores</em> acomodações, com preços <strong>únicos</strong>!
      </p>
    </div>
  </div>
</div>
