#home{
  .content{
    display: grid;
    justify-items: center;

    .catcher {
      margin: 35px 0 0 0;
      text-align: center;

      h1 {
        font-weight: 500;
      }

      p {
        font-size: large;
      }

      img{
        border: #D81E5B solid 1px;
        border-radius: 50px;
        max-width: 900px;
      }
    }
  }

  .options {
    width: 100%;
    background-color: #da4c64;

    .inner-options {
      display: flex;
      justify-content: center;

      .block {
        display: flex;
        border: #17233092 solid 2px;
        background-color: #da4c64;
        border-radius: 5%;
        color: snow;
        justify-content: center;
        align-items: center;
      }

      .block:hover{
        background-color: #d3334d;
      }

      h3 {
        margin: 0 auto;
        padding: 5px;
      }

      img {
        width: 30px;
        padding: 15px;
      }
    }
  }

  .motivation {
    width: 100%;
    background-color: #D81E5B30;
    padding: 30px 0;

    .inner-motivation{

      display: flex;
      align-items: center;
      justify-content: center;
      .section{
        max-width: 400px;
        h2{
          font-weight: 600;
          margin: 10px 30px;
        }
        p{
          font-weight: 400;
          font-style: italic;
        }
      }
    }

  }

  .signature {
    margin-top: 50px;
  }

}

@media only screen and (min-width: 320px){

  #home{
    .content{

      .catcher{
        width: 320px;

        img{
          width: 312px;
        }
      }

      .options {

        img{
          justify-self: center;
        }

        .inner-options{
          text-align: center;

          .block{
            display: grid;
            width: 106;
            font-weight: 400;
          }
        }
      }
      .motivation{

        .inner-motivation{
          .section{
            display: grid;
            width: 105px;
            font-weight: 300;
            h2, p{
              font-size: medium;
              text-align: left;

              margin: 0;
              width: 105px;
            }
          }
        }
      }

      .signature {
        width: 320px;
        text-align: center;
      }
    }
  }
}

@media only screen and (min-width: 768px){

  #home{
    .content{

      .catcher{
        width: 768px;

        img{
          width: 760px;
        }
      }

      .options {
        width: 100%;

        img{
          justify-self: center;
        }

        .inner-options{
          text-align: center;

          .block{
            display: grid;
            width: 256px;
            font-weight: 300;

          }


        }
      }

      .motivation{
        width: 100%;

        .inner-motivation{
          .section{
            display: grid;
            width: 256px;
            font-weight: 300;
            h2, p{
              font-size: medium;
              text-align: center;

              margin: 0;
              width: 256px;
            }
          }
        }
      }

      .signature {
        width: 768px;
        text-align: center;
      }
    }
  }
}
