@import 'src/sass/custom-colors';

.card-content-wrapper {
  height: 215px;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
  background-color: white;
  width: calc(100% - 153px);
  float: left;
  margin-right: 3px;
  padding-right: 5px;

  .card-image {
    border-radius: 10px;
    width: 100px;
    float: left;
    margin-right: 15px;
    width: 341px;
    height: 215px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;

    span {
      background-color: $r4u-red;
      padding: 4px;
      display: block;
      float: right;
      color: white;
    }
  }

  .card-content-icons-wrapper > div {
    float: left;
    position: relative;
    min-width: 160px;

    mat-icon, i {
      position: absolute;
      color: #ccc;

      &.available {
        color: $r4u-red;
      }

      &.place {
        color: $r4u-red;
      }
    }

    p {
      margin-left: 25px;
      padding-top: 3px;
    }
  }

  &.size1000to1300 {
    height: auto;

    .card-image {
      width: 215px;
    }

    .card-content-icons-wrapper {
      display: inline-block;
      margin-top: 10px;
      padding: 10px;
    }
  }

  &.sizeLT1000 {
    height: auto;

    .card-image {
      width: 100%;
    }
  }

  &.sizeLT800 {
    width: 100%;
  }
}

.rate-price-bloock {
  height: 215px;
  width: 145px;border-radius: 0 10px 10px 0;
  background-color: white;
  float: left;

  &.sizeLT800 {
    display: none;
  }
}

.icons-wrapper {
  position: relative;
  padding: 6px;
  padding-top: 8px;
}

mat-icon.rate-icon {
  color: #ccc;
  font-size: 20px;
  width: 20px;
  height: 20px;

  &.rated {
    color: $r4u-red;
  }

  &.rated-favorite {
    color: $r4u-red;
    font-size: 26px;
    width: 26px;
    height: 26px;
    position: absolute;
    right: 10px;
    top: 5px;

    &.under-title {
      position: static;
      margin-left: 5px;
    }
  }
}

.price-wrapper {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  margin-top: 50px;
}

.card-inner-title {
  color: $r4u-green;
  font-size: 18px;
  font-weight: 500;
  padding-top: 15px;
}
