@import 'src/sass/custom-colors';

.slide-item {
  padding-left: 70px;
  padding-right: 70px;
  box-sizing: border-box;
  background-color: #F1F1F1;

  &.mobileView {
    padding: 0;
  }

  >div{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

mat-icon.rate-icon {
  color: #ccc;
  font-size: 20px;
  width: 20px;
  height: 20px;

  &.rated {
    color: $r4u-red;
  }

  &.rated-favorite {
    color: $r4u-red;
    font-size: 26px;
    width: 26px;
    height: 26px;
    position: absolute;
    top: 52px;
    right: 5px;
    z-index: 990;
  }
}

.slider-wrapper {
  position: relative;
  max-width: 100%;

  .rate-wrapper {
    position: absolute;
    right: 0;
    top: 4px;
  }

  .slider-inner {
    max-width: 100%;
  }
}

h2 {
  font-size: 23px;
  font-weight: 400;
  color: $r4u-green;
}

.rated-favorite {
  position: absolute;
  top: 52px;
  right: 5px;
  z-index: 990;
}

.controls {
  position: relative;
  >div {
    position: absolute;
    z-index: 990;
    width: 100%;
    top: 120px;

    mat-icon {
      font-size: 50px;
      height: 50px;
      width: 50px;
      color: $r4u-green;
    }

    .control-right {
      float: right;
    }
  }
}
