<div id="register">
  <h1>Faça seu cadastro</h1>
  <form class="content" [formGroup]="formUserRegister">

    <div class="left">
      <mat-divider></mat-divider>
      <h3>Informações de usuário</h3>
      <mat-divider></mat-divider><br>

      <mat-form-field appearance="outline" style="margin-bottom: -1.25em">
        <mat-label>Email de cadastro</mat-label>
        <input matInput
        class="form-control"
        type="email"
        name="email"
        id="email"
        formControlName="email"
        autocomplete="on"
        required email>
      </mat-form-field>

      <div class="error" *ngIf="this.erro && this.erro.status === 422"><i>*O e-mail informado já existe!</i></div>

      <div *ngIf="formUserRegister.get('email').invalid && (formUserRegister.get('email').dirty || formUserRegister.get('email').touched)">
        <div *ngIf="formUserRegister.get('email').errors.required">
          É necessário informar um e-mail.
        </div>
        <div *ngIf="!formUserRegister.get('email').errors.required">
          É necessário informar um e-mail válido.
        </div>
      </div>

      <div *ngIf="!(formUserRegister.get('email').invalid && (formUserRegister.get('email').dirty || formUserRegister.get('email').touched))">
        <br>
      </div>

      <mat-form-field appearance="outline" style="margin-bottom: -1.25em">
        <mat-label>Senha</mat-label>
        <input matInput
        class="form-control"
        type="password"
        name="password"
        id="password"
        formControlName="password"
        required minlength="5"
        autocomplete="on">
      </mat-form-field>

      <div *ngIf="formUserRegister.get('password').invalid && (formUserRegister.get('password').dirty || formUserRegister.get('password').touched)">
        <div *ngIf="formUserRegister.get('password').errors.required">
          É necessário informar uma senha.
        </div>
        <div *ngIf="formUserRegister.get('password').errors.minlength">
          Senha deve ter no mínimo 5 caracteres.
       </div>
      </div>

      <div *ngIf="!(formUserRegister.get('password').invalid && (formUserRegister.get('password').dirty || formUserRegister.get('password').touched))">
        <br>
      </div>

      <mat-form-field appearance="outline" style="margin-bottom: -1.25em">
        <mat-label>Confirmar senha</mat-label>
        <input matInput
        class="form-control"
        type="password"
        name="repassword"
        id="repassword"
        formControlName="repassword"
        required minlength="5"
        autocomplete="on">
      </mat-form-field>

      <div *ngIf="formUserRegister.get('password').value != formUserRegister.get('repassword').value && formUserRegister.get('repassword').touched">
        <div>
          Senhas digitadas devem ser iguais.
        </div>
      </div>

      <div *ngIf="!(formUserRegister.get('password').value != formUserRegister.get('repassword').value && formUserRegister.get('repassword').touched)">
        <br>
      </div>

      <mat-form-field appearance="outline" style="margin-bottom: -1.25em">
        <mat-label>Nome</mat-label>
        <input matInput
        class="form-control"
        type="nome"
        name="nome"
        id="nome"
        formControlName="nome"
        required>
      </mat-form-field>

      <div *ngIf="formUserRegister.get('nome').invalid && (formUserRegister.get('nome').dirty || formUserRegister.get('nome').touched)">
        <div *ngIf="formUserRegister.get('nome').errors.required">
          É necessário informar um nome.
        </div>
      </div>

      <div *ngIf="!(formUserRegister.get('nome').invalid && (formUserRegister.get('nome').dirty || formUserRegister.get('nome').touched))">
        <br>
      </div>

      <div class="upload" >
        <div class="upload-text">Foto do perfil</div>
        <app-file-uploader (completeUpload)="fotoEnviada($event)"></app-file-uploader>
      </div>

      <div class="showUploaded" *ngIf="showUploaded"> <i>*Foto carregada com sucesso! </i></div>
      <div *ngIf="!showUploaded"> <br> </div>
      <br><br>
    </div>

    <div class="right">

      <mat-divider></mat-divider>
      <h3>Informações de postagem</h3>
      <mat-divider></mat-divider><br>

      <mat-form-field appearance="outline" style="margin-bottom: -1.25em">
        <mat-label>Email para contato</mat-label>
        <input matInput
        class="form-control"
        type="email"
        name="contactEmail"
        id="contactEmail"
        formControlName="contactEmail"
        autocomplete="new-email"
        required email>
      </mat-form-field>

      <div class="error" *ngIf="this.erro && this.erro.status === 422"><i>*O e-mail informado já existe!</i></div>

      <div *ngIf="formUserRegister.get('contactEmail').invalid && (formUserRegister.get('contactEmail').dirty || formUserRegister.get('contactEmail').touched)">
        <div *ngIf="formUserRegister.get('contactEmail').errors.required">
          É necessário informar um e-mail.
        </div>
        <div *ngIf="!formUserRegister.get('contactEmail').errors.required">
          É necessário informar um e-mail válido.
        </div>
      </div>

      <div *ngIf="!(formUserRegister.get('contactEmail').invalid && (formUserRegister.get('contactEmail').dirty || formUserRegister.get('contactEmail').touched))">
        <br>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Celular para contato</mat-label>
        <input matInput
        class="form-control"
        type="tel"
        name="cell"
        id="cell"
        formControlName="cell"
        >
      </mat-form-field>
      <!-- minlength="13" maxlength="13" -->

      <mat-form-field appearance="outline">
        <mat-label>Breve descrição sobre você</mat-label>
        <textarea matInput
        class="form-control"
        type="text"
        name="aboutMe"
        id="aboutMe"
        formControlName="aboutMe">
        </textarea>
      </mat-form-field>

    </div>
  </form>

  <button mat-raised-button
    type="submit"
    color="primary"
    class="btn btn-primary mt-4"
    value="Salvar"
    (click)="onSubmitRegister()"
    [disabled]="!formUserRegister.valid">
    Cadastrar
  </button>

  <br>
  <p class="terms">Ao clicar em cadastrar você concorda com nossos
    <a [routerLink]="['/terms-and-policy']" target="_blank">termos e políticas</a>
  </p>

</div>
