.modal-wrapper {
  .form-row {
    display: flex;
    justify-content: space-around;

    &.form-row-last {
      justify-content: start;
      margin-left: 23px;
    }
  }

  &.mobile {
    .form-row {
      flex-direction: column;
    }
  }
}
